@font-face {
    font-family: 'light';
    src: url('../fonts/opensans-condlight-webfont.eot');
    src: url('../fonts/opensans-condlight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-condlight-webfont.woff2') format('woff2'),
         url('../fonts/opensans-condlight-webfont.woff') format('woff'),
         url('../fonts/opensans-condlight-webfont.ttf') format('truetype'),
         url('../fonts/opensans-condlight-webfont.svg#open_sanscondensed_light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bold';
    src: url('../fonts/opensans-condbold-webfont.eot');
    src: url('../fonts/opensans-condbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-condbold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-condbold-webfont.woff') format('woff'),
         url('../fonts/opensans-condbold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-condbold-webfont.svg#open_sans_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'light-italic';
    src: url('../fonts/opensans-condlightitalic-webfont.eot');
    src: url('../fonts/opensans-condlightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-condlightitalic-webfont.woff2') format('woff2'),
         url('../fonts/opensans-condlightitalic-webfont.woff') format('woff'),
         url('../fonts/opensans-condlightitalic-webfont.ttf') format('truetype'),
         url('../fonts/opensans-condlightitalic-webfont.svg#open_sansCnLtIt') format('svg');
    font-weight: normal;
    font-style: normal;
}
.gm-style {
	font-family: 'light',Arial,sans-serif !important;
}
.gmnoprint{
	margin: 0px 5px 6px 0px !important;
}
a[href^="http://maps.google.com/maps"]{
	display:none !important
}
.navbar{
	margin-bottom: 0px;
	min-height: 41px;
	padding-right: 320px;
	z-index: 1
}
.navbar > .container{
	width: 100%;
	padding: 0px 30px 0px 15px;
}
.navbar-fixed-top{
	border-width: 0 0 0px !important;
}
.navbar-inverse .navbar-brand {
	color: #ffffff;
}
.navbar-brand {
	font-size: 33px;
	height: 35px;
	padding: 10px 15px;
}
.navbar-nav > li > a{
	padding: 10px 15px;	
	text-transform: uppercase;
}
.wrap{
	padding-bottom: 20px;
	height: 100%; 
	position: relative; 
	width: 100%;
}
body, html{
	height: 100%;
	font-family: 'light' !important;
	line-height: normal;
	color: #333333;
	font-size: 14px;
}
a{
	color: #333333;
	text-decoration: none;
}
a:hover{
	color: #333333;
}
.btn-default{
	background-color: #333;
	border: 0px;
	border-radius: 0px;
	padding: 0px 4px;
	color: #fff;
	float: left;
	margin-right: 3px;
}
.btn-default.active,
.btn-default.active:hover,
.btn-default.active:focus{
	background-color: #00C266;
	color: #fff;
}
.filtros > .btn-default:nth-child(3){
	margin-right: 0px !important;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active{
	background-color: #333;
	color: #fff;
}
.contenedor{
	height: 100%;
	z-index: 0;
	overflow: hidden;
}
.sub-contenedor{
	padding-right: 320px;
	padding-bottom: 200px;
	height: 100%;
	position: relative;
	/*padding-top: 35px;*/
}
.menu-lateral{
	display: block;
	position: absolute;
	padding: 0;
	right: 0px;
	width: 320px;
	max-width: 100%;
	height: 100%;
	z-index: 2;
	padding-bottom: 200px;
	padding-top: 86px;
	background-color: #FFF;
}
.contenedor-mapa{
	width: 100%;
	height: 100%;
	position: relative;
	padding-top: 35px;
}
.contenedor-scroll{
	overflow: auto;
	height: 100%;
}
.filtros{
	/*padding: 0px 10px;*/
	float: right;
	/*border-bottom: 1px solid #FFF;*/
	/*width: 100%;*/
	text-align: left;
	padding-top: 11px;
}
.filtros div{
	margin-right: 7px;
	/*font-size: 16px;*/
	float: left;
	display: inline-block;
}
.cont-top-lateral{
	position: absolute;
	z-index: 2;
	background-color: #E6E6E6;
	display: inline-block;
	width: 320px;
	position: absolute;
	z-index: 2;
	display: inline-block;
	top: 0px;
	/*border-bottom: 1px solid #CCC;*/
}
.cont-bottom-lateral{
	height: 27px;
/*	border-top: 1px solid #CCC;
	border-bottom: 1px solid #FFF;*/
	background-color: #E6E6E6;
	position: absolute;
	bottom: 200px;
	width: 100%;
}
#menuBtn{
/*	padding: 4px 10px;
	position: absolute;*/
	padding: 11px 7px;
	position: absolute;
	z-index: 10;
	top: 0px;
	border-right: 1px solid #CCC;
}
#menuBtn.activo{
	top: 0px;
	background-color: #E6E6E6;
	padding: 11px 11px;
}
.titulo{
	padding: 0px 10px;
	width: 100%;
	/*border-bottom: 1px solid #E9E9E9;*/
	float: left;
}
.titulo-sensores{
	font-size: 30px;
	text-transform: uppercase;
	float: left;
	/*float: right;*/
	/*padding-right: 10px;*/
	/*padding-top: 3px;*/
	font-family: bold;
	padding-left: 22px;
}
.cont-busqueda{
	position: relative;
	width: 100%;
	padding: 7px;
	float: left;
	/*border-top: 1px solid #CCC;*/
}
.input-buscar{
	font-size: 17px;
	font-family: 'light';
	float: right;
	width: 100%;
	padding-left: 24px;
	min-height: 31px;
}
.icono-buscar{
	position: absolute;
	font-size: 13px;
	color: #333;
	top: 16px;
	left: 18px;
}
.btn-buscar{
	margin-top: 0px;
	padding: 10px 12px 13px;
	font-size: 18px;
	float: right;
	margin-right: -8px;
}
.btn-buscar:hover,
.btn-buscar:focus,
.btn-buscar:active{
	text-decoration: none;
	color: #333;
}
#map-canvas{
	width: 100%;
	height: 100%;
	float: left;
}
.item-sensor{
	border-bottom: 1px solid #E9E9E9;
	display: inline-block;
	width: 100%;
	padding: 6px 10px;
	float: left;
}
.sensor-online{
	color: #00C266;
}
.sensor-offline{
	color: #A6A2A2;
}
a:hover{
	background-color: #F6F6F6;
}
a:focus{
	color: #333;
}
.datos-item{
	float: left;
}
.estatus-item{
	padding: 12px 10px 11px 0px;
	float: left;
	font-size: 18px;
}
.nombre-sensor{
	font-family: 'bold';
	font-size: 16px;
}
.ubicacion-sensor{
	font-size: 14px;
}
.ubicacion-sensor i{
	width: 11px;
	font-size: 12px;
	float: left;
	padding-top: 3px;
}
.grafica{
	height: 200px;
	position: absolute;
	bottom: 0px;
	background-color: #F6F6F6;
	/*background-color: #E6E6E6;*/
	width: 100%;
	z-index: 3;
}
/*.actualizacion{
	padding: 10px 0px 10px;
}*/
.fecha{
	color: #06F;
}
.ubicacion{
	padding: 10px 0px 0px 32px;
	margin-bottom: 12px;
}
.ubicacion i{
	margin-right: 2px;
}
.icono-grande{
	margin-top: 11px;
	display: inline-block;
}
.filtro{
	width: 202px;
	margin-top: 7px;
}
.filtro a{
	background-color: #333;
	color: #FFF;
	display: inline-block;
	padding: 4px 7px;
	text-align: center;
	float: left;
	margin-right: 4px;
	cursor: pointer;
	width: 27px;
	height: 27px;
}
.filtro a.active{
	background-color: #00C266;
}
.filtro a:last-child{
	margin-right: 0px;
}
.filtro > div:first-child{
	margin-bottom: 4px;
}
.filtro > div:last-child{
	margin-top: 4px;
	float: left;
}
/*.filtro a:hover{
	background-color: #fff;
	color: #333;
}*/
.select{
	padding: 7px 14px 0px 0px;
}
.select select{
	background-color: #333;
	background-image: none;
	border: 0px solid #CCC;
	border-radius: 0px;
	color: #fff;
	-webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.0);
	box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.0);
	height: 22px;
	margin-left: 5px;
}
.grafica-real{
	padding-left: 202px;
}
.grafica-real #container1{
	width: 99%;
	float: left;
}
.datos-grafica{
	width: 196px;
	float: left;
	padding-left: 16px;
	margin-top: 10px;
}
.valor-grafica{
	display: inline-block;
}
.icono-grande-sensor{
	font-size: 37px;
	background-color: rgb(51, 51, 51);
	color: rgb(255, 255, 255);
	padding: 7px;
	float: left;
	width: 51px;
	text-align: center;
	height: 51px;
}
.datos-grafica .nombre-tipo{
	font-size: 18px;
	margin-left: 11px;
	display: block;
	line-height: 0.8em;
	height: 25px;
	max-height: 25px;
}
.datos-grafica .numero{
	font-size: 39px;
	display: block;
	margin-left: 10px;
	line-height: 0.5em;
	height: 26px;
	max-height: 39px;
}
.datos-grafica .tipo-medida{
	font-size: 23px;
	vertical-align: top;
	margin-left: 3px;
	line-height: 0.4em;
}
/* ----- Estilos Tooltip mapa ------ */
/* ----- Estilos Tooltip mapa ------ */
.tooltip1{
	width: 300px;
}
.tooltip1 .fa-map-marker{
	width: 11px;
	padding-left: 2px;
}
.tooltip1 .tipos-sensores{
	border-top: 1px solid #ccc;
	margin-top: 8px;
	padding-top: 3px;
	display: block;
}
.tooltip1 .tipos-sensores > div{
	float: left;
	width: 47%;
	margin-top: 5px;
}
.tooltip1 .tipos-sensores > div:first-child{
	margin-right: 6%;
}
.tooltip1 .tipos-sensores > div i{
	margin-right: 4px;
}
.tooltip1 .valor-tooltip{
	float: right;
}
.nombre-sensor-tooltip{
	font-size: 18px;
	font-family: bold;
}
/* ----- Estilos Tooltip mapa ------ */
/* ----- Estilos Tooltip mapa ------ */
.copyright{
	height: 20px;
	font-size: 12px;
	float: left;
	width: 100%;
	text-align: center;
	color: rgb(182, 182, 182);
	background-color: #F6F6F6;
	position: absolute;
	bottom: 0px;
}
.copyright a{
	padding: 0px;
	margin-top: -3px;
	padding-top: 3px;
}
.logo{
	position: absolute;
	font-size: 37px;
	border-radius: 0px 0px 0px 0px;
	z-index: 1;
	background-color: rgb(51, 51, 51);
	margin-top: 6px;
	margin-left: 6px;
	color: rgb(255, 255, 255);
	width: 65px;
	height: 65px;
	text-align: center;
	padding-top: 7px;
}


.label {
  box-sizing:border-box;
  background: #00C266;
  /*box-shadow: 2px 2px 4px #333;*/
  /*border:5px solid #346FF7;*/
  height: 10px;
  width: 10px;
  border-radius: 10px;
  margin-left: -4px !important;
	margin-top: -7px !important;
  -webkit-animation: pulse 1s ease 1s 3;
  -moz-animation: pulse 1s ease 1s 3;
  animation: pulse 1s ease 1s 3;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
}
.label1 {
  box-sizing:border-box;
  background: transparent;
  /*box-shadow: 2px 2px 4px #333;*/
  border:2px solid #000;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  margin-left: -4px !important;
	margin-top: -7px !important;
  -webkit-animation: pulse 1s ease 1s 3;
  -moz-animation: pulse 1s ease 1s 3;
  animation: pulse 1s ease 1s 3;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
}
/* ANIMATIONS */
@-webkit-keyframes pulse {
 40% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
 40% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulse {
  40% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}